<!DOCTYPE html>
<html>

<head>
  <title>Not-Alone-Now</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
</head>

<body class="application">
    <nav id="text" class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#myCollapsingList">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <nav class="container">
            <header class="navbar-header">
            <a class="navbar-brand" href=".">N.A.N.</a>
            </header>
            <ul id="myCollapsingList" class="nav navbar-nav navbar-right collapse navbar-collapse">
                <li><a href=".">Home</a></li>
                <li><a href="real_stories">Real Stories</a></li>
                <li><a href="charts">Charts</a></li>
                <li><a href="{{ url_for('videos') }}">Videos</a></li>
            </ul>
        </nav>
    </nav>

    <div  id="outer" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">


          <!-- Year Chart -->
            <div id="flex" class="col-sm-8" data-step="2" data-intro="This is our employment rate composite chart.<br><br>
                Here we can see the employment rate percentages dynamically reflected, depending on what we select on our pie chart.<br><br>
                Mental illness employment rates are portrayed in pink, while general population employment rates are in blue.<br><br>
                Hover over each rates respective key on the legend to highlight your selection.<br><br>
                Hover over each line above a year and you will be able to read the exact percentage via a tooltip popup." style="font-weight: normal" data-position="bottom">
            <div class="chart-wrapper">
              <div id="titles" class="chart-title">
                Employment rates
              </div>
                <div class="chart-stage">
                    <div id="Year-chart"></div>
                </div>
            </div>
                    </div>
          <!-- Year Chart -->

            <div class="scrollbox3" id="text">

            <h3 id="text2"><i>Welcome to the charts section!</i></h3>
            <h5 id="text3">Our charts focus on highlighting employment rates, charting a comparison between people with mental illnesses, and the general population.
            <br><br> Take a tour below to learn how best to access our data:</h5>


            <button class="intro_button" id="introButton" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>

            </div>


           <!-- pie chart -->
            <div id="flex" class="col-sm-4" data-step="1" data-intro="Here we have our region pie chart.<br><br>
                As default, it will push an employment percentage for the whole of England to all charts.<br><br>
                Click on a region to display the employment rate percentage for that specific region.<br><br>
                You can also access the sum percentage of multiple regions by simply clicking on more than one region.<br><br>
                Note that this pie chart dynamically affects the composite chart on your left, and both row charts below." style="font-weight: normal" data-position="top">
            <div class="chart-wrapper">
              <div id="titles" class="chart-title">
                Region
              </div>
              <div class="chart-stage">
                <div id="region-pie-chart"></div>
              </div>
            </div>
          </div>
           <!-- Pie Chart -->


          <!-- mhEmployment -->
          <div id="flex" class="col-sm-6" data-step="3" data-intro="Here we have the first of two row charts.<br><br>
          The first of which displays a percentage of people with mental illnesses in employment, pertaining to each year of the study..." style="font-weight: normal" data-position="top">
            <div class="chart-wrapper">
              <div id="titles" class="chart-title">
                Employment rate of people with mental illness (in %)
              </div>
              <div class="chart-stage">
                <div id="mhEmployed-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- mhEmployment -->


          <!-- popEmployment -->
          <div id="flex" class="col-sm-6" data-step="4" data-intro="...And the second does the same, but for the general population.<br><br>
          Much like with the composite chart, you can hover over a row for the exact percentage." style="font-weight: normal" data-position="top">
            <div class="chart-wrapper">
              <div id="titles" class="chart-title">
                Employment rate of general population (in %)
              </div>
              <div class="chart-stage">
                <div id="popEmployed-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- popEmployment -->


          <div class="scrollbox2" id="text" data-step="5" data-intro="Finally, we have a short write-up on the findings from the data.<br><br>
          Thanks for visiting!" style="font-weight: normal" data-position="top">
          <h3 id="text2">Employment rates and what the row charts tell us</h3>
          Take a look at the two row charts above.
          <br>You will notice that (as might be expected) the employment rate of people with mental illnesses is significantly lower than that of the general population.
          <br><br>We can see how the employment rates of the general population has fluctuated with the ebb and flow of the economy at the time, reaching it's lowest valley in 2011 with 69.55% of the nation in gainful employment, and it's highest peak in 2006, with a whopping 72.2% of our population secure in a job.
          <br><br>It then levelled out in 2014 to sit at 71.4%, which would be considered relatively healthy.
          <br><br>Now take a look to your left at the employment rate of people suffering from a mental illness - This chart follows no such pattern and seems to be largely unaffected by the economy.
          <br><br>The common theme here is that the numbers are drastically reduced.
          <br><br>The good news however, is that we can clearly see that things are steadily improving.
          <br><br>This would suggest that as attitudes change toward mental health and conversations open up, either more people with mental illnesses are being given a chance in the world of work, or perhaps people are becoming more comfortable talking to their current employers about their conditions.
          <br><br>Either way you cut it, a leap from 26% in 2006 to 34.01% in 2014 is a fantastic step forward both for the welfare of the nations mental health, and the ongoing battle in removing the stigma attached to mental illness.
          <br><br>The numbers are still very far off from what they need to be, but if we continue to talk, support and be open, we can and will get them there.
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph_altered.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>

</body>

<br><br>
    <footer id="footer">
        <p id="text2"><a href=".">Not-Alone-Now</a><br><a href="{{ url_for('realStories') }}">Real Stories</a> | <a href="{{ url_for('charts') }}">Charts</a> | <a href="{{ url_for('videos') }}">Videos</a></p>
    </footer>

</html>