<!DOCTYPE html>
<html>

<head>
  <title>Not-Alone-Now</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">

{#    inline CSS for simplicity of altering each templates media query    #}
    <style type="text/css">
        body {
            padding-top: 70px;
            padding-left: 70px;
            background: url("{{ url_for ('static', filename='images/crowd.jpg') }}") repeat-y fixed;
            display: block;
        }
      @media screen and (max-width: 1100px) {

        body {
            padding-top: 70px;
            padding-left: 70px;
            background: none repeat-y fixed;
            display: block;
        }}
  </style>
</head>

<body background="href="/static/images/crowd.jpg"">

 <nav id="text" class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#myCollapsingList">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
        <nav class="container">
            <header class="navbar-header">
                <a class="navbar-brand" href=".">N.A.N.</a>
            </header>
            <ul id="myCollapsingList" class="nav navbar-nav navbar-right collapse navbar-collapse">
                <li><a href=".">Home</a></li>
                <li><a href="real_stories">Real Stories</a></li>
                <li><a href="charts">Charts</a></li>
                <li><a href="{{ url_for('videos') }}">Videos</a></li>
            </ul>
        </nav>
    </nav>

 <!-- Real Stories page -->

 <article>

     <h1 id="text2"><strong>Videos of a fool talking to clever people</strong></h1>

     <br>

    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/gHoHaUKJIuE?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4 id="text2">Intro</h4>
    <br>

    <h2 id="text2"><strong>Not-Alone-Now Chats With:</strong></h2>
    <br>

    <iframe id="video" width="280" height="157" src="https://www.youtube.com/embed/r27bmZGcSDU?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4 id="text2">Depression Conquering Superhero, J</h4>
    <br><br>

    <iframe id="video" width="280" height="157" src="https://www.youtube.com/embed/uGFl9DuFBss?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4 id="text2">Happiness Coach, David Burvill pt. 1</h4>
    <br><br>

    <iframe id="video" width="280" height="157" src="https://www.youtube.com/embed/8bAJABRoT7I?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4 id="text2">Happiness Coach, David Burvill pt. 2</h4>
    <br><br>

    <iframe id="video" width="280" height="157" src="https://www.youtube.com/embed/BNPLQv_wUgg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4 id="text2">Happiness Coach, David Burvill pt. 3</h4>
    <br><br>

</article>

    <br><br>
    <footer id="footer">
        <p id="text2"><a href=".">Not-Alone-Now</a><br><a href="{{ url_for('realStories') }}">Real Stories</a> | <a href="{{ url_for('charts') }}">Charts</a> | <a href="{{ url_for('videos') }}">Videos</a></p>
    </footer>


  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph_altered.js')}}"></script>
</body>

</html>